extends layout

block content
  #chart

append scripts
  script(type="text/javascript")
    
    Highcharts.setOptions({
        global : {
            useUTC : false
        }
    });
    
    function loadData(params, cb) {
      $.get('/data', params, function(d) {
        if(cb) cb(d);
      });
    }
    
    // Create the chart
    window.chart = new Highcharts.StockChart({
        chart : {
            renderTo : 'chart',
            events : {
                load : function() {
                  var lastDate, series = this.series[0];
                  function interval() {
                    var params = {};
                    if(lastDate) params.from = lastDate;
                    loadData(params, function(d) {
                      if(!lastDate) series.setData(d.data);
                      else {
                        for(var i in d.data) {
                          series.addPoint(d.data[i], false);
                        }
                        series.redraw();
                      }
                      lastDate = d.date;
                      window.setTimeout(interval, 60000);
                    });
                  }
                  interval();
                }
            }
        },
        
        rangeSelector: {
            buttons: [{
                count: 1,
                type: 'hour',
                text: '1h'
            }, {
                count: 1,
                type: 'day',
                text: '1d'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false,
            selected: 1
        },
        
        title : {
            text : 'Charlotte BCycle Availability'
        },
        
        exporting: {
            enabled: false
        },
        
        series : [{
            name : 'Total Bikes',
            data : []
        }]
    });
