extends layout

block content
  | Station: 
  select(onchange="setSelectedStation(this.value)")
    option(value="") All
    each station in stations
      option(value=station.id) 
        != station.name
  #chart

append scripts
  script(type="text/javascript")
    
    Highcharts.setOptions({
        global : {
            useUTC : false
        }
    });
    
    var selectedStation = "", reloadInterval, series;
    var lastDate;
    
    function setSelectedStation(station) {
      selectedStation = station;
      lastDate = null;
      if(reloadInterval) window.clearInterval(reloadInterval);
      chart.showLoading();
      onChartInit();
    }
    
    function loadData(params, cb) {
      if(selectedStation != "") params.station = selectedStation;
      $.get('/data', params, function(d) {
        if(cb) cb(d);
      });
    }
    
    function onChartInit() {
      function interval() {
        var params = {};
        if(lastDate) params.from = lastDate;
        loadData(params, function(d) {
          if(!lastDate) series.setData(d.data);
          else {
            for(var i in d.data) {
              series.addPoint(d.data[i], false);
            }
            series.redraw();
          }
          chart.hideLoading();
          lastDate = d.date;
          reloadInterval = window.setTimeout(interval, 60000);
        });
      }
      interval();
    }
    
    // Create the chart
    window.chart = new Highcharts.StockChart({
        chart : {
            renderTo : 'chart',
            events : {
                load : function() {
                  series = this.series[0];
                  this.showLoading();
                  onChartInit();
                }
            }
        },
        
        rangeSelector: {
            buttons: [{
                count: 1,
                type: 'hour',
                text: '1h'
            }, {
                count: 1,
                type: 'day',
                text: '1d'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false,
            selected: 1
        },
        
        title : {
            text : 'Charlotte BCycle Availability'
        },
        
        exporting: {
            enabled: false
        },
        
        series : [{
            name : 'Total Bikes',
            data : []
        }]
    });
