doctype 5
html
  head
    title BCycle Stats
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type="text/javascript")
    script(src="/js/highstock.js", type="text/javascript")
    block scripts